@import "../../../../../client/commonview/styles/Variables.less";

.SideNav {
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: max-content;

  align-items: flex-start;

  .SideNavButton {
    @border-width: 2px;
    @icon_size: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: calc(8px - @border-width) calc(16px - @border-width);
    width: 100%;

    background: none;
    border-width: 2px;
    border-style: solid;
    outline: none;
    border-image-slice: 1;
    border-image-width: 1;

    .icon {
      height: min-content;
      width: @icon_size;

      img {
        height: @icon_size;
        width: auto;
      }
    }

    .icon img {
      filter: drop-shadow(0px 0px 1px @deep-black);
    }
    &.highlight .icon img {
      filter: drop-shadow(0px 0px 3px @white);
    }

    .label {
      font-weight: 400;
      color: white;
      padding-left: 16px;
    }

    //hover transition

    border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    transition-duration: @fast-transition;
    transition-property: border-image-source, background-color;

    .label {
      transform: translateX(-5%);
      opacity: 0;

      transition-property: opacity, transform;
      transition-duration: @fast-transition;
    }

    &:hover {
      background-color: fade(@deep-black, 40%);
      border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));

      .label {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }

  &:not(:hover) {
    .label {
      animation-name: disappear;
      animation-fill-mode: forwards;
      animation-duration: @fast-transition;
    }
  }
}

@keyframes disappear {
  99% {
    display: block;
  }
  100% {
    display: none;
  }
}
