.LoginView {
  @width: 270px;
  .bevelled-corners;
  .center-content;
  .flex-gap;
  .spacing-padding;

  width: @width;

  .TitledTextInput {
    .text-input-field {
      width: 230px;
    }
  }

  .login-button {
    .important-button (@width);
  }
}
