.LoggingInView,
.RegisterView {

  @width: 270px;
  .window;
  .center-content;
  .flex-gap;
  .spacing-padding;

  width: @width;

  .TitledTextInput {
    .text-input-field {
      width: 230px;
    }
  }

  .login-button ,
  .register-button {
    .important-button (@width);
  }

  .disabled-button {
    .disabled-important-button (@width);
  }
}
