/* IMPORTS */
@import "./Mixins.less";
@import "./TitledTextInputStyles.less";
@import "./LoginStyles.less";

/* VARIABLES */

@theme-color: #eb193c;
@black: #050505;
@white: #ddd;

@spacing: 40px;

/* STANDARDIZING */

body,
html,
#reactDom,
.MainView {
  .center-content;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(#08000d, #3f091d);
}
