/* IMPORTS */
@import "./Mixins.less";
@import "./TitledTextInputStyles.less";
@import "./LoginStyles.less";
@import "./ChatStyles.less";

/* ABSTRACTED CONSTANTS */

@blue: #1694d2;
@red: #d20000;
@yellow: #e39500;
@purple: #af0cc3;
@metal: #1d4347;
@green: #2c5133;

// @theme-color: #eb193c;
@theme-color: @blue;
@black: #050505;
@gray: #888;
@white: #ddd;

@spacing: 40px;

/* STANDARDIZING */

body {
  // background: linear-gradient(#08000d, #3f091d);
  background: linear-gradient(0deg, darken(@blue, 30%), @blue);
}

body,
html,
#reactDom {
  .center-content;
  width: 100%;
  height: 100%;
}
