.TitledTextInput {
  border-width: 1px;
  width: 100%;

  .text-input-title {
    padding: 0px 5px;
    margin-left: 5px;
    .label-text;
  }

  .text-input-field {
    background: none;
    border-width: 0px 0px 1px 0px;
    outline: none;
    margin: 5px 15px;

    &:not(:focus) {
      border-color: transparent;
    }

    .input-text;

    text-transform: capitalize;
  }
}
