@import "../commonview/styles/Variables.less";
@import "../commonview/styles/Mixins.less";

.AuthenticationView {
  .flex;
  height: 100%;
  justify-content: center;

  .AuthenticationContent {
    background-color: @black;

    width: 400px;
    max-width: 100vw;

    .rounded;
    .padding;
    .gap;

    .title {
      .title-text;
      .big-text;
      text-align: center;
      color: @lightest-gray;
    }

    input[type="submit"] {
      &:not(:disabled) {
        .shadowed-button (@color: @green);
      }
      &:disabled {
        .shadowed-button (@color: @gray);
      }
      .padding-smaller;
      .big-text;
    }
  }
}
