@import "../commonview/styles/Variables.less";
@import "../commonview/styles/Mixins.less";

.AuthenticationView {
  .flex;
  height: 100%;
  justify-content: center;

  .AuthenticationContent {
    background-color: @black;

    .rounded;

    width: 400px;
    max-width: 100vw;

    .padding;
    .gap;
  }
}
